:root{
    --vermelho: #c4000a;
    --preta: #141414;
    --dourado: rgb(80, 77, 69);

}

*{
    padding: 0;
    margin: 0;   
    box-sizing: border-box; 
}

/*Base*/

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

body {
    background: var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}


header .logo {
    color: var(--vermelho);
    font-family: "Arial black";
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color:lightgray;
    margin-right: 10px;
}

header nav a:hover {
    color: var(--dourado);
}

/*Tema Principal*/

.filme-principal { 
    font-size: 16px;
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(97, 7, 7, 0.726)100%), url('../img/stranger_.jpg');

    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}

.filme-principal .descricao {
    margin-bottom: 20px;
    margin-top: 2%;
}

.filme-principal .titulo {
    margin-top: 15%;
    font-size: 44px;
    margin-bottom: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Botões e estilos */

.botao {
    background-color: rgba(0, 0, 0, .50);
    border: none;
    color: white;
    border-radius: 3px;
    
    padding: 12px 17px;
    margin-right: 12px;
    font-size: 12px;
    transition: .4s ease all;

}

.botao:hover{
    cursor: pointer;
    background-color: white;
    color:#141414;
}

.botao i{
    margin:4px;
}

/*CONTAINER*/

.container {
    margin-left: 20px;
    margin-right: 0.5%;
}

.filme-principal .container{
    width: 70%;
}

/*Estilos Owl Carousel*/

.box-filme{
    height: auto;
    width: 50%;
    display: block;
}

.carrossel-filmes h1{
    padding: 10px;
    margin-left: 15px;
    margin-top: 1%;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}